* {
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: black;
    color: #333333;
}



.wrapper{
    display: grid;
    position:relative;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
    height: 60rem;
}

.contain-main{
    display: grid;
    overflow: visible;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(2, 1fr); /* Creates two columns */
    grid-template-rows: repeat(2, 1fr); /* Creates two rows */
}

.mainCard {
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    display: grid;
    font-size: 2em;
    justify-content: center;
    border: 1px solid black;
    background-color: #efe2ba;
    background-size: cover;
    font-family: Consolas, monaco, monospace;
    color: #f13c20;
    isolation: isolate;
    opacity: 1;
    transition: box-shadow .3s ease;
}

.mainCard:hover {
    box-shadow: inset 0px 0px 50px rgba(0,0,0,0.6);
}

.card-info{
    color: #f13c20;
    display: flex;
    height: 100%;
    align-items: center;
}

.tl-btn{
    display: flex;
    justify-content: center;
    place-content: top;
    height: 100%;
}

.view-card-btn{
    display: flex;
    height: 20%;
    padding: 50px 70px 50px 70px;
    align-items: center;
    text-align: center;
    font-size: 1em;
    color: #f13c20  ;
    font-family: Consolas, monaco, monospace;
    border: 2px solid #f13c20;
    border-radius: 40px;
    background: transparent;
    transition: .3s ease;
}

.view-card-btn:hover{
    background-color: #333333;
    cursor: pointer;
}



.tr-btn{
    display: flex;
    justify-content: center;
    place-content: top;
    height: 100%;
}


.bottom-info{
    display: flex;
}


.bl-btn{
    display: flex;
    justify-content: center;
    place-content: top;
    height: 100%;
}


.br-btn{
    display: flex;
    justify-content: center;
    place-content: top;
    height: 100%;
}

.letter{
    display: flex;
    font-size: 2em;
    font-family: Consolas, monaco, monospace;
    justify-content: center;
    color: #f13c20;
    transition: .05s;
    cursor:default;
}

.letter:hover{
    color:#333333;
}


@media all and (max-width: 800px) {
    .top-info{
        display: flex;
        flex-direction: column;
    }

    .bottom-info{
        display: flex;
        flex-direction: column;
    }

    .top-left{
        width: 100%;
    }

    .top-right{
        width: 100%;
    }

    .bottom-left{
        width: 100%;
    }

    .bottom-right{
        width: 100%;
    }
    
} 
