* {
    box-sizing: border-box;
}

body{
    margin: 0;

}

.res-wrap{
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #f13c20;
}

.loader{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.text{
    display: flex;
    text-align: center;
    color: #efe2ba;
    font-size: 3rem;
}

.loading{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    gap: 0 10px;
}

.loading .line-box{
    display: flex;
    align-items: center;
    height: 20px;
    width: 30%;
    border: 2px solid black;
    border-radius: 1rem;
}

.line{
    height: 1rem;
    border-radius: 1rem;
    background: #efe2ba;
    animation: loading 1s forwards cubic-bezier(0,0,0,0);
}


@keyframes loading{
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}


.page-wrapper{
    display: grid;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    padding: 20px;
    grid-template-rows: 20% 80%;
}

.pdf-doc-wrapper{
    display: flex;
    justify-content: center;
    width: 80%;
    height: 100%;
    left: 0;
    padding-left: 20%;
    margin-right: 20px;
}

.resume-page-header-wrapper{
    display: flex;
    font-size: 2em;
    color: #efe2ba;
    align-items: center;
    width: 100%;
    justify-content: center;
    height: 80%;
}

.resume-header{
    font-family: Consolas, monaco, monospace;
    text-shadow: 3px 3px black;
    border-bottom: 5px solid #efe2ba;
}

.rh{
    color: #efe2ba;
    transition: .05s;
    cursor:default;
}

.rh:hover{
    color:rgb(43, 43, 43)
}

@media only screen and (max-width: 650px){
    .resume-page-header-wrapper{
        font-size: 1em;
    }
}